html,
body {
  max-width: 100%;
  max-height: 100%;
  background-color: #F0f0f0;
}

#post_screen{
  position: relative;
  width: 80%;
  margin: 0 auto; 
  margin-top: 40px;
}

#post_screen .form-control{
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
}

#post_button{
  margin-top: 10px;
}

#custom-alert {
  top: 10px;
  position: fixed;
}
