html,
body {
  max-width: 100%;
  max-height: 100%;
  background-color: #F0f0f0;
}

#post_screen{
  position: relative;
  width: 90%;
  margin: 0 auto; 
  margin-top: 70px;
}

#post_screen #back_button{
  margin-top: 10px;
  margin-bottom: 10px;

}

#post_screen .form-control{
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
}

#post_screen #postcontent{
  max-width: 100%;
  word-break: break-word;
}

#post_screen #postcontent #usericon{
  position: relative;
  width: 96px;
  max-width: 96px;
}

#reply_button{
  margin-top: 10px;
  margin-bottom: 20px;
}

#comment{
  margin-top: 10px; 
}

#custom-alert {
  top: 10px;
  position: fixed;
}
