html,
body {
  height: 100%;
  background-color: #f0f0f0;
}

#custom-alert {
  top: 10px;
  position: fixed;
}


.container{
  padding-top: 70px;
}

.container #user_icon{
  width: 144px;
}

.container #upload_button{
  padding-top: 10px;
}
